// Colors
$Orange: hsl(13, 85%, 53%); // #EA4F23
$Light_Brown: hsl(12, 26%, 20%); // #3F2A25
$Brown: hsl(12, 50%, 10%); // #27120D
$Black: hsl(0, 0%, 7%); // #131313
$Grey: hsl(0, 0%, 14%); // #242424
$White: hsl(0, 0%, 100%); // #FEFEFE