// Font_Type

// Font_Family
$Inter: 'Inter', sans-serif;
$Dacing: 'Dancing Script', cursive;;

// Font_Weight
$Font_Reg: 400;
$Font_Med: 500;

// Font_Size
$Font_10: 0.625rem; // 10px
$Font_11: 0.688rem; // 11px
$Font_12: 0.75rem; // 12px
$Font_13: 0.813rem; // 13px
$Font_14: 0.875rem; // 14px
$Font_15: 0.938rem; // 15px
$Font_16: 1rem; // 16px
$Font_20: 1.25rem; // 20px
$Font_24: 1.5rem; // 24px
$Font_32: 2rem; // 32px
$Font_36: 2.25rem; // 36px
$Font_40: 2.5rem; // 40px
$Font_48: 3rem; // 48px
$Font_64: 4rem; // 64px
$Font_96: 6rem; // 96px
$Font_128: 8rem; // 128px